html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--black);
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.1rem;
}

.btn {
  background-image: linear-gradient(to top, var(--teal) 0%, var(--blue) 51%, var(--teal) 100%);
  padding: .75rem .5rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: auto 200%;
  color: var(--white);
  border-radius: 0.5rem;
  display: flex;
  border-color: transparent;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
  line-height: .5rem;
  align-items: center;
  height: min-content;

  &:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: var(--white);
    text-decoration: none;
  }
}